%footer
  .single-footer
    .single-footer__content
      .links
        = link_to "プライバシーポリシー", class: "policy"
        = link_to "利用規約", class: "terms"
        = link_to "特定商取引に関する表記", class: "transacition"
      .logo
        = image_tag '/images/logo-white.png'
        .logo__inc
          %p
            © Frima, Inc.