%footer
  .single-footer
    .single-footer__content
      .links
        %a.policy(href="") プライバシーポリシー
        %a.terms(href="") 利用規約
        %a.transacition(href="") 特定商取引に関する表記
      .logo
        = image_tag '/images/logo-white.png'
        .logo__inc
          %p
            © Frima, Inc.