
.exhibitions-show-wrapper {
  background-color: #f5f5f5;
  border-top: 5px solid white;

  .exhibitions-show-main {
    padding: 40px;
    margin: 0 auto;

    .exhibitions-show-contents {
      width: 800px;
      margin: 0 auto;

      .exhibitions-show-box {

        background-color: white;
        padding: 24px 40px 40px;
        font-size: 30px;
        position: relative;

        &__name {
          text-align: center;
          font-weight: bold;
          font-size: 35px;
        }

        &__btn {
          font-size: 14px;
          top: 12px;
          right: 12px;
          line-height: 16px;
          border-radius: 1px;
          display: flex;
          justify-content: space-between;

          li{
            padding: 10px;
            background-color: $lightBlue;
            font-size: 20px;
          }

          a {
            color: $white;
          }
        }

        &__photos {
          margin-top: 30px;

          .photos-inner {
            width: 600px;
            height: 400px;
            margin: 0 auto;
            position: relative;

            .show-image {
              object-fit: cover;
            }

            &__sold{
              width: 0;
              height: 0;
              border-width: 120px 120px 0 0;
              border-color: #ea352d transparent transparent transparent;
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
              border-style: solid;

              &__inner{
                top: -90px;
                font-size: 30px;
                position: absolute;
                left: 0;
                z-index: 2;
                color: #fff;
                transform: rotate(-45deg);
                letter-spacing: 2px;
                font-weight: 600;
              }
            }
          }

          ul{
            display: flex;
            flex-wrap: wrap;
            width: 600px;
            margin: 0 auto;

            .show-subimage {
              width: 120px;
              height: 80px;
              object-fit: cover;
            }
          }
        }

        &__price {
          margin: 40px 0 24px;
          text-align: center;
          display: flex;
          flex-direction: column;

          span {
            font-size: 46px;
            font-weight: bold;
            margin-right: 10px;
          }

          &__tax-shipfee {

            span {
              font-size: 16px;
              font-weight: normal;
            }
          }
        }
      }

      .exhibitions-show_detail {
        padding: 20px 10px;
        font-size: 25px;
        font-weight: bold;
      }

      .exhibitions-show_table {
        margin-bottom: 20px;

        table {
          width: 100%;
        }

        tbody {
          width: 100%;
          height: 375px;
          border-collapse: collapse;
          border: 1px solid #f8f8f8;
          display: table-row-group;
          vertical-align: middle;
          border-color: inherit;

          tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;

            th {
              width: 20%;
              background-color: #eee;
              padding: 8px;
              border: 1px solid #dedede;
              font-size: 15px;
              text-align: center;
            }

            td {
              width: 61%;
              padding: 15px 15px;
              border: 1px solid #dedede;
              font-size: 15px;
            }
          }
        }
      }

      .exhibitions-show-box_button {
        margin: 16px 0;
        background: $lightBlue;
        line-height: 56px;
        text-align: center;

        a{
          display: block;
          text-decoration: none;
          color: white;
        }

        &__black {
          background: #dedede;
          cursor: not-allowed;
        }
      }

      .exhibitions-show_several-btn {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;

        i {
          padding-right: 2px;
        }

        .like {
          font-size: 14px;
          margin: 10px 0;

          .like-btn {
            padding: 6px 10px;
            border-radius: 40px;
            border: 1px solid #ffb340;

            a {
              color: $lightBlue;
            }
          }
        }

        .report {
          font-size: 14px;
          margin: 10px 0;

          .report-btn {
            padding: 6px 10px;
            border-radius: 40px;
            border: 1px solid black;

            a {
              color: rgba(255, 0, 0, 0.795);
            }
          }
        }
      }
    }
  }
}