.password-content {
  margin: 0 auto;
  height: 541px;
  width: 100%;
  text-align: center;
  background-color: #f5f5f5;
  &__title {
    margin: 0 auto;
    height: 97px;
    width: 700px;
    background-color: #ffffff;
    border-bottom: 1px solid #f5f5f5;
    h2 {
      font-size: 22px;
      font-weight: bold;
      color: #333;
      line-height: 97px;
    }
  }
  &__form {
    margin: 0 auto;
    height: 300px;
    width: 700px;
    background-color: #ffffff;

    li {
      margin: auto;
      color: red;
    }

    .field {
      padding: 40px 230px 0 0;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 10px;

    }
    .input-text {
      height: 48px;
      width: 328px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 0 10px;
    }
    .form-text {
      margin-top: 8px;
      font-size: 12px;
      color: #888888;
    }
    .actions {
      margin-top: 40px;
      .btn {
        height: 50px;
        width: 320px;
        border: 1px solid #3CCACE;
        border-radius: 4px;
        background: #3CCACE;
        color: #ffffff;
      }
    }
  }
}