body {
  .signup-form {
    height: 1090px;
    width: 100%;
    background-color: #f5f5f5;
    overflow: hidden;

    &__header {
      height: 100px;
      width: 700px;
      line-height: 100px;
      background-color: #ffffff;
      border-bottom: 1px solid #f5f5f5;
      margin: 0 auto;
      text-align: center;
      h2 {
        font-weight: bold;
        font-size: 22px;
      }
    }
    &__form {
      height: 1090px;
      width: 700px;
      margin: 0 auto;
      background-color: #ffffff;
      text-align: center;
      .field {
        margin: 0 auto;
        padding-top: 20px;
        width: 343px;
        &__inner {
          text-align: left;
          label {
            font-weight: bold;
            font-size: 14px;
          }
          span {
            margin-left: 8px;
            padding: 2px 4px;
            background: #3ccace;
            color: #ffffff;
            font-size: 12px;
            border-radius: 2px;
          }
          .input-text {
            margin-top: 8px;
            padding: 10px 16px 8px;
            width: 343px;
            height: 48px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
          }
          .inner-message {
            margin-top: 8px;
            font-size: 14px;
            color: #888888;
          }
          .input-text-harf {
            margin-top: 8px;
            padding: 10px 16px 8px;
            width: 165.5px;
            height: 48px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
          }
          .input-date {
            margin-top: 8px;
            #user_birth_date_1i {
              margin-right: 5px;
              height: 48px;
              width: 76px;
              border: 1px solid #ccc;
              border-radius: 4px;
            }
            #user_birth_date_2i {
              margin: 0 5px;
              height: 48px;
              width: 76px;
              border: 1px solid #ccc;
              border-radius: 4px;
            }
            #user_birth_date_3i {
              margin-left: 5px;
              height: 48px;
              width: 76px;
              border: 1px solid #ccc;
              border-radius: 4px;
            }
          }
          .text {
            font-size: 14px;
            color: #333333;
          }
        }
      }

      .form-group {
        margin: 24px auto;
        width: 343px;
        &__title {
          text-align: left;
          h3 {
            font-weight: bold;
            font-size: 14px;
          }
        }
        &__text {
          margin-top: 8px;
          text-align: left;
          p {
            font-size: 14px;
          }
        }
      }

      .actions {
        margin-top: 24px;
        .btn {
          width: 343px;
          height: 50px;
          color: #fff;
          background: #3ccace;
          border: 1px solid #3ccace;
          border-radius: 4px;
        }
      }
    }
  }
}
