body {
  .signup-form {
    height: 1090px;
    width: 100%;
    background-color: #f5f5f5;
    overflow: hidden;

    &__header {
      height: 100px;
      width: 700px;
      line-height: 100px;
      background-color: #ffffff;
      border-bottom: 1px solid #f5f5f5;
      margin: 0 auto;
      text-align: center;
      h2 {
        font-weight: bold;
        font-size: 22px;
      }
    }
    &__form {
      height: 1090px;
      width: 700px;
      margin: 0 auto;
      background-color: #ffffff;
      text-align: center;
      .field {
        margin: 0 auto;
        padding-top: 20px;
        width: 343px;
        &__inner {
          text-align: left;
          .form-any {
            box-sizing: border-box;
            font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic,
              メイリオ, Meiryo, sans-serif;
            background: #d3d3d3;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
            font-weight: 600;
          }
          &__message {
            color:#888888;
            font-size: 14px;
          }
          label {
            font-weight: bold;
            font-size: 14px;
          }
          span {
            margin-left: 8px;
            padding: 2px 4px;
            background: #3ccace;
            color: #ffffff;
            font-size: 12px;
            border-radius: 2px;
          }
          .input-text {
            margin-top: 8px;
            padding: 10px 16px 8px;
            width: 343px;
            height: 48px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
          }
          .inner-message {
            margin-top: 8px;
            font-size: 14px;
            color: #888888;
          }
          .input-text-harf {
            margin-top: 8px;
            padding: 10px 16px 8px;
            width: 165.5px;
            height: 48px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
          }
          .input-date {
            margin-top: 8px;
            select {
              height: 48px;
              width: 85px;
              margin-right: 5px;
              border: 1px solid #ccc;
              border-radius: 4px;
            }
          }
          .text {
            font-size: 14px;
            color: #333333;
          }
          #prefecture_code {
            width: 343px;
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            cursor: pointer;
          }

          #purchase_prefecture_code {
            width: 343px;
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            cursor: pointer;
          }
        }
      }

      .form-group {
        margin: 24px auto;
        width: 343px;
        &__title {
          text-align: left;
          h3 {
            font-weight: bold;
            font-size: 14px;
          }
        }
        &__text {
          margin-top: 8px;
          text-align: left;
          p {
            font-size: 14px;
          }
        }
      }

      .actions {
        margin-top: 24px;
        .btn {
          width: 343px;
          height: 50px;
          color: #fff;
          background: #3ccace;
          border: 1px solid #3ccace;
          border-radius: 4px;
        }
      }
    }
  }
}
