// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  display: flex;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic",
    "メイリオ", "Meiryo", sans-serif;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.icon {
  display: flex;
  margin-top: 24px;

  .appleIcon {
    width: 180px;
    margin-right: 10px;
  }

  .googleIcon {
    width: 180px;
    margin-top: -0.5px;
  }

  img:hover {
    opacity: 0.6;
  }
}

* {
  box-sizing: border-box;
}

.header {
  padding: 0 60px;
  margin-bottom: 10px;

  &__inner {
    width: 100%;
    padding-top: 15px;
    max-width: 1040px;
    margin: 0 auto;

    &__top {
      display: flex;
      align-items: center;

      .logo {
        width: 140px;
        margin-right: 30px;
        padding-bottom: 10px;
        border-radius: 4px;

        a {
          display: block;
          width: 140px;
        }
      }

      .search {
        width: 100%;
        display: flex;

        &__form {
          display: flex;
          width: 100%;
          margin-bottom: 5px;

          &__box {
            width: 100%;
            height: 36px;
            padding: 0 0 0 5px;
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
          }

          button {
            width: 36px;
            background-color: $lightBlue;
            border: 0;
            cursor: pointer;
            padding: 8px;
          }
        }
      }
    }
  }
}

.header__bottom {
  .nav {
    display: flex;
    font-size: 14px;
    justify-content: space-between;

    .listLeft {
      display: flex;
      list-style: none;

      &__item a {
        color: #333;
        line-height: 32px;
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 18px;
        padding-right: 30px;
        margin-right: 16px;

        &:hover {
          color: #ffb340;
        }
      }
    }

    .listRight {
      &__item a {
        color: #333;
        line-height: 32px;
        margin-left: 16px;
      }
    }
  }
}

.topMain {
  width: 100%;
  height: 560px;
  background-image: image-url("/images/bg-mainVisual-pict_pc.jpg");
  background-size: cover;
  padding: 0 60px;
  display: flex;
  align-items: center;

  .content {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding-top: 35px;

    &__title {
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      font-size: 60px;
      line-height: 1.2;
      color: $white;
      height: 144px;
      display: flex;
      align-items: flex-end;
    }

    &__text {
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      font-size: 18px;
      color: $white;
      line-height: 1.77778;
      margin: 16px 0 0 0;
    }
  }
}

.topIntroduction {
  padding: 60px 20px;

  .title {
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;

    &::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: $lightBlue;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .lists {
    display: flex;
    margin: 0 auto;
    max-width: 1020px;
    justify-content: space-between;

    .list {
      width: 30%;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 16px;

      &__img {
        margin-bottom: 20px;
        position: relative;

        &__num {
          position: absolute;
          background-color: $lightBlue;
          color: #fff;
          padding: 10px 20px;
          font-size: 30px;
        }
      }

      &__subtitle {
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin-bottom: 2px;

        span {
          color: $lightBlue;
        }
      }

      &__text {
        font-size: 18px;
        line-height: 1.5;
        margin-top: 16px;
      }
    }
  }
}

.topDescription {
  background-image: image-url("/images/bg-topMiddleDl-pict.jpg");
  background-position: bottom right;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;

  &__content {
    color: $white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;

    &__title {
      font-size: 27px;
      font-weight: bold;
      line-height: 1.4;
    }

    &__text {
      font-size: 18px;
      margin: 20px 0 30px;
      line-height: 1.5;
    }
  }
}

.topFeature {
  padding: 60px 100px;

  &__title {
    font-size: 27px;
    text-align: center;
    margin: 0 0 40px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;

    &::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: $lightBlue;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .cohesives {
    max-width: calc(1040px + 20px);
    width: 100%;
    margin: 0 auto;
    display: flex;

    .cohesive {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      text-align: center;
      padding: 0px 20px;

      &__img {
        width: 70%;
        margin: 0 auto;
      }

      &__subtitle {
        margin: 38px 0px 10px;
        font-weight: bold;
        font-size: 19px;
      }

      &__text {
        font-size: 17px;
        font-weight: 200;
        text-align: left;
        margin: 0 0 40px;
      }
    }
  }
}

.pickup {
  padding-top: 80px;
  background-color: #f8f8f8;

  &__title {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 24px;
    text-align: center;
    font-weight: bold;

    a {
      color: $lightBlue;
    }
  }

  .productLists {
    justify-content: center;
    padding-top: 26px;

    .productList {
      width: 220px;
      background-color: $white;

      &:hover {
        opacity: 0.5;
      }
      &__img {
        width: 220px;
        height: 150px;
        position: relative;
        overflow: hidden;
        margin: 0;
        z-index: auto;
        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          z-index: auto;
          height: 150px;
          object-fit: cover;
        }
      }

      &__content {
        color: #333;
        padding: 16px;

        &__details {
          display: flex;
          justify-content: space-between;

          &__favorite {
            display: flex;
            .fas {
              display: inline-block;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;

              margin-right: 3px;
            }
          }
        }

        &__taxIncluded {
          font-size: 10px;
        }
      }
    }
  }
}

.pickupSecond {
  padding-bottom: 80px;
}

.promptDl {
  background-image: image-url("/images/bg-appBanner-pict.jpg");

  background-size: cover;
  background-position: center;
  padding: 100px 40px;

  &__content {
    text-align: center;
    color: $white;

    &__title {
      font-size: 24px;
      font-weight: bold;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }

    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }

    &__icon {
      justify-content: center;
    }
  }
}

.footer {
  background-color: #272727;
  padding: 60px 0;
  color: $white;
  text-align: center;

  &__lists {
    display: flex;
    max-width: 840px;
    margin: 0 auto;

    &__list {
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      display: flex;
      flex-direction: column;

      &__title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      &__details {
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        a {
          color: $white;
          font-size: 12px;
          line-height: 32px;
          text-decoration: none;
        }
      }
    }
  }

  &__logo {
    max-width: 160px;
    margin: 0 auto;
  }

  p {
    font-size: 14px;
  }
}

.exhibitionBtn {
  width: 120px;
  background-color: $lightBlue;
  padding: 15px;
  text-align: center;
  position: fixed;
  bottom: 32px;
  right: 32px;
  border-radius: 4%;

  &__text {
    color: $white;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
  }

  &__icon {
    width: 60%;
  }
}
