- @exhibitions.each do |exhibition|
  %li.productList
    = link_to "#" do
      .productList__img
        = image_tag exhibition.images.first.image.url
      .productList__content
        .productList__content__name
          = exhibition.name
        .productList__content__details
          .productList__content__details__price
            = exhibition.price
            円
          .productList__content__details__favorite
            %i.fas.fa-star
            1
        .productList__content__taxIncluded
          (税込み)